:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* --------------search-bar-------------------- */
.search-bar {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds spacing between input elements */
  width: 300px; /* Adjust width as needed */
  margin: 0 auto; /* Center the search bar horizontally */
  padding: 20px;
  border: 1px solid #ddd; /* Light border around the search bar */
  border-radius: 5px; /* Rounded corners */
  background-color: #f9f9f9; /* Light background color */
}

.search-bar input,
.search-bar select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Light border for inputs and select */
  border-radius: 5px; /* Rounded corners for inputs and select */
  box-sizing: border-box; /* Includes padding in the width calculation */
}

.search-bar input[type="number"] {
  -moz-appearance: textfield; /* Removes number input spinner in Firefox */
}

.search-bar input[type="number"]::-webkit-inner-spin-button,
.search-bar input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Removes number input spinner in WebKit browsers */
  margin: 0;
}

.search-bar button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Blue background color */
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.search-bar button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
